version: "2"
services:
  builder:
    build:
      context: .
      dockerfile: Dockerfile.build
    environment:
      - DB_USERNAME=username
      - DB_PASSWORD=password
      - DB_NAME=group_collect_prod
      - PORT=5000
      - HOST=localhost
      - DB_HOSTNAME=groupcollect.myhost.com
      - DB_TIMEOUT=240_000
    volumes:
      - ../.group_collect_docker_cache/build-cache/node_modules:/home/app/assets/node_modules
      - ../.group_collect_docker_cache/build-cache/_build:/home/app/_build
      - ../.group_collect_docker_cache/build-cache/priv/static:/home/app/priv/static
      - ../.group_collect_docker_cache/build-cache/deps:/home/app/deps
  release:
    build:
      context: .
      dockerfile: Dockerfile.release
    ports:
      - "5000:5000"
    environment:
      - DB_USERNAME=username
      - DB_PASSWORD=password
      - DB_NAME=group_collect_prod
      - PORT=5000
      - HOST=localhost
      - DB_HOSTNAME=groupcollect.myhost.com
      - DB_TIMEOUT=240_000
